.CarouselCardContainer {
  background: white;

  width: 95%;
  /* width: 100%; */
  /* flex: 1; */
  border-top: 3px solid #41549b;

  max-width: 165px;
  /* margin: 0px 10px; */
  /* min-width: 200px; */
  /* max-height: 220px;
  height: 220px; */
  /* margin-right: 20px; */
  box-sizing: border-box;
  /* cursor: pointer; */
  padding: 10px;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  transition: 0.4s ease-in-out;
  /* box-shadow: 1px 5px 12px rgb(221, 221, 221); */
  border: 1px solid #eee;
}

.ImageContainer {
  margin: auto;
  text-align: center;
  position: relative;
  /* background: transparent url('../../shared/images/loading_spinner.gif') center
    no-repeat; */
}
.prod {
  position: relative;
  z-index: 20;
}
.spin {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* width: 60px;
  height: 60px; */
  /* width: 38%;
  height: 35%; */
  /* transform: translate(-50%, -50%); */
}
.ImageContainer {
  /* background: green; */
  position: relative;
  height: 100px;
}
.ImageContainer img {
  /* width: 70px; */
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;

  /* width: 100px; */
}
.CarouselCardContainer:hover {
  box-shadow: 1px 0px 5px #eee;
  transition: 0.4s ease-in-out;
}
.Discount {
  color: orange;
}
.Price {
  font-size: 15px;
}

.ButtonCont {
  text-align: center;
  transition: 0.4s;
}
.Rotate90 {
  transform: rotateX(90deg) !important;
}
.changeCont {
  position: absolute;
  z-index: 10;
  bottom: 0;
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  justify-content: center;
  transition: 0.4s;
}
.changeCont input {
  width: 50%;
  /* max-width: 30px; */
  outline: none;
  border: none;
  border: 1px solid #364ea1;
  text-align: center;
  height: 38px;
}
.changeCont button {
  height: 38px;
  width: 20%;
  border: none;
  outline: none;
  background: #364ea1;
  /* background: #6ce001; */
  color: white;
}

.TextContainer {
  text-align: left;
  font-size: 10px;
  overflow: hidden;
  position: relative;
}

.TextContainer > .ClickForMore {
  background: rgba(15, 14, 14, 1);
  color: white;
  padding: 2px 5px 2px 2px;
  position: absolute;
  bottom: -30px;
  font-size: 12px;
}
.CarouselCardContainer:hover .ClickForMore {
  transition: 0.5s all ease;
  text-align: right;
  right: 0;
  bottom: 0;
}

.TextContainer > .Title {
  font-size: 15px;
  height: 40px;
  /* background: #eee; */
  /* width: 110px; */
  min-width: 110px;

  /* border-bottom: 1px solid #eee; */
  font-weight: bold;
}

@media (min-width: 950px) {
  .CarouselCardContainer {
    background: white;
    width: 95%;
    max-width: 200px;
    /* max-height: 300px;
    height: 280px; */
    transition: 0.4s ease-in-out;
  }
  .ImageContainer {
    margin: auto;
    text-align: center;
  }
  .ImageContainer img {
    /* width: 100px;
    height: 100px; */
  }
  .CarouselCardContainer:hover {
    box-shadow: 1px 5px 15px rgb(190, 189, 189);
    transition: 0.4s ease-in-out;
  }
  .Discount {
    color: orange;
  }

  .TextContainer {
    text-align: left;
  }
}
