.NavigationItems {
  padding: 0;
  margin: 0;
  text-align: center;
  /* font-size: 30px; */
}

.desktopOnly {
  display: block;
  /* font-size: 30px; */
}
.Logout {
  font-size: 23px;
  margin: 15px;
  color: #fff;
  cursor: pointer;
}
.NotificationLink {
  font-size: 23px;
  color: #fff;
  margin: 20px;
  padding-top: 15px !important;
}

@media (min-width: 950px) {
  .desktopOnly {
    display: none;
  }
}
