.header {
  text-align: center;
  /* background: #bbb; */
  padding-top: 50px;
  /* margin-top: 76px; */
}

.NoNotificationCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100%;
}
.NoNotificationCont svg {
  font-size: 120px;
  color: #bbb;
  margin-bottom: 20px;
}
