.EditProductHandler {
  text-align: right;
  /* background: GREEN; */
  /* 
  float: right; */
}
.EditProductHandlerBody {
}
.EditProductHandler span,
.EditProductHandler svg {
  color: #555;
  cursor: pointer;
}
.EditProductHandler:hover span,
.EditProductHandler:hover svg {
  color: #6ce001;
  text-decoration: underline;
  cursor: pointer;
}

.UpdateCont {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  /* max-width: 100px; */
  width: 100%;
  margin: 10px auto;
  /* font-weight: 100 !important; */
}
.UpdateCont button {
  width: 100px;
  font-size: 13px;
}
