.price {
  font-family: Arial, Helvetica, sans-serif;
  color: #6ce001;
  font-size: 40px;
  font-weight: 100;
}
h2.price {
  font-family: Arial, Helvetica, sans-serif;
}
.currencyCont {
  color: #6ce001;
  background: rgb(250, 248, 248);
  font-size: 40px;
  padding-bottom: 4px;
  /* height: 90px; */
}
.priceInput {
  border: none;
  font-size: 30px;
  width: 88%;
  margin-top: 10px;
  color: #6ce001;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(250, 248, 248);
  outline: none;
}

.priceInputCont {
  /* width: 100%; */
}

.priceInputCont div {
  color: red;
}
