@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
.NavigationItems {
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 0px 0;
  min-height: 55px;
}
.Notification {
  position: relative;
  cursor: pointer;
}
.Notification span:hover {
  color: #6ce001;
}
.Notification span {
  /* color: rgb(204, 161, 161); */
  color: #444;
}
.Notification svg {
  color: #444;
  margin-right: 4px;
}
.NotificationCount {
  /* padding: 0px; */
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);

  color: white;
  border-radius: 60%;
  position: absolute;
  /* background: #6ce001; */
}

.CheckoutButton {
  margin-right: 15px;
}
.CheckOutDrop {
  position: relative;
}
.CartNumber {
  background: white;
  border-radius: 4px;
  padding: 1px 4px;
  /* color: orange; */
  color: #41549b;

  margin-left: 3px;
}

@media (min-width: 950px) {
  .CartAndAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .NavigationItems {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    align-items: center;
    box-shadow: 1px 0px 9px #bbb;
    /* border-bottom: 0.51px solid #bbb; */
    /* background: rgb(253, 113, 31); */
    /* background: #1d2647; */
    background: white;
    /* background: #4a9207; */

    width: 100%;
  }
  .editDrop {
    position: relative;
    z-index: 1000;
  }
  .fullName {
    /* color: white; */
    color: #1d2647;
  }
  .avatar {
    border-radius: 50%;
    margin-right: 5px;
  }
  .Header {
    padding: 0;
    margin: 0;
    margin-right: 10px;

    text-align: center;
    font-size: 30px;
    /* font-family: 'Kaushan Script', cursive; */
    font-family: 'Courgette', cursive;
    color: #1d2647;
  }
  .Help {
    color: white;
    cursor: pointer;

    font-size: 13px;
    padding: 15px 10px;
    margin: 0 20px 0 30px;
    transition: 0.5s;
  }
  .Help:hover {
    color: #1d2647;
    background: white;
    transition: 0.5s;
  }
  .InputContainer {
    /* width: 300px; */
    /* background: green; */
    display: flex;
    position: relative;
    justify-items: flex-start;
    margin-right: 25px;
  }
  .CheckoutButton {
    background: #6ce001;

    border: none;
    color: white;
    padding: 5px 12px;
  }

  .CheckoutButton .CartIconContainer {
    margin-right: 10px;
  }
}
