h2.PageTitle {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  color: #1d2647;
}

.ProductDetailContainer {
  margin: 90px auto;
  width: 90%;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  width: 90%;
  margin: 30px auto;
}
