.SearchInput {
  border: none;
  padding: 8px;
  width: 90%;
  background: #eee;
  outline: none;
}
.InputContainer {
  width: 100%;
}

.Button {
  padding: 8px;
  border: none;
  background: orange;
  color: white;
  cursor: pointer;
  width: 10%;
}
@media (min-width: 950px) {
  .SearchInput {
    border: none;
    padding: 8px;
    width: 80%;
    background: white;
    outline: none;
  }

  .Button {
    padding: 8px;
    border: none;
    background: orange;
    color: white;
    cursor: pointer;
    width: 20%;
  }
}
