.NotificationItemCont {
  background: white;
  /* margin-bottom: 20px; */
}
.date {
  text-align: center;
  color: #999;
}

.NotificationItem {
  padding: 15px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.NotificationItem > div:first-child {
  flex: 2;
}
.NotificationItem > div:first-child svg {
  /* flex: 1; */
  font-size: 30px;
  color: #eee;
}
.NotificationItem p {
  flex: 10;
  margin: 0;
}
