h2.CategoryPage {
  /* margin-top: 60px; */
  font-weight: 100;
  color: #1d2647;
  background: white;
  box-shadow: 0px 3px 10px #bbb;
  border-radius: 4px;
  border-top: 5px solid #1d2647;
  padding: 10px 10px;
  font-size: 16px;
  width: 80%;
  margin: 48px auto 20px;
  /* margin-bottom: 10px; */
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.ProductsCont {
  display: grid;
  justify-items: center;
  grid-template-columns: minmax(auto, auto) minmax(auto, auto);
  grid-gap: 2px;
}

@media (min-width: 500px) {
  .ProductsCont {
    justify-content: center !important;
    /* padding-left: 38px; */
    grid-template-columns: minmax(auto, 270px) minmax(auto, 270px) minmax(
        auto,
        270px
      );
  }
}

@media (min-width: 750px) {
  .ProductsCont {
    justify-content: center !important;
    /* padding-left: 38px; */
    grid-template-columns:
      minmax(auto, 270px) minmax(auto, 270px) minmax(auto, 270px)
      minmax(auto, 270px);
  }
}
@media (min-width: 1100px) {
  .ProductsCont {
    grid-template-columns:
      minmax(auto, 270px) minmax(auto, 270px) minmax(auto, 270px)
      minmax(auto, 270px) minmax(auto, 270px);
  }
}

@media (min-width: 1350px) {
  .ProductsCont {
    grid-template-columns:
      minmax(auto, 270px) minmax(auto, 270px) minmax(auto, 270px)
      minmax(auto, 270px) minmax(auto, 270px) minmax(auto, 270px);
  }
}
